/*Reset styles*/

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  color: #333;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


li {
  list-style: none;
}

a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.pagination a {
  color: #aaa;
}

.pagination a:hover {
  color: black;
}

img {
  border: 1px solid #ccc;
}

/*Font*/

html {
  font: 125%/1.5 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
  font-size: 100%;
}

h1, h1 a, h2 a, 
h2{
  font-family: 'Lobster', cursive;
  font-weight: 200;
}

.post-categories,
.post-title a,
.banner h2,
.single-page h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h5, .home-nav {
  font-size: .7em;
  font-weight: bold;
  line-height: 1.4em;
}

.date,
small {
  font-size: .8em;
}

.post-title h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
}

.post-categories {
  font-size: 1.3em;
  text-transform: capitalize;
}
/*Header*/

.logo {
  margin-bottom: 0;
}

header.container {
  margin-top: 0;
}

/*Layout*/

.banner {
  background: rgba(0, 0, 0, .2);
  height: 3.5em;
  position: relative;
  top: -90px;
  width: 100%;
  z-index: 3;
}

.banner,
.banner a {
  color: white;
}

.post-title {
  padding-left: 1em;
}

.post-categories,
.post-categories a {
  font-weight: 300;
}

.banner h5 {
  padding-left: 1em;
}

.carousel {
  max-height: 28em;
  padding-bottom: 40px;
  z-index: 1;
}

.blog-link,
.time {
  font-size: 60%;
}

.time {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: .2em 0;
  padding: .3em;
}

.thumbnail h2 {
  margin-bottom: .5em;
}

.thumbnail {
  margin-bottom: 40px;
}

.pagination{
  margin: 0 auto 40px auto;
  width: 30%;
}

.pagination li{
  display: block;
  float: left;
  margin-right: 9%;
}


input {
  border: 1px solid #aaa;
  display: block;
  font-size: 80%;
  float: left;
  margin: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  vertical-align: baseline;
}

.text-input {
  margin-right: 5%;
  width: 64%;
}

.text-input:focus {
  outline: 0;
  -moz-box-shadow:    inset 0 0 5px #aaa;
  -webkit-box-shadow: inset 0 0 5px #aaa;
  box-shadow:         inset 0 0 5px #aaa;
}

.search-btn {
  background: rgba(0, 0, 0, .2);
  height: 32px;
  width: 30%;
}

.search-btn:hover {
   background: rgba(0, 0, 0, .5);
   color: #eee;
}

.locations ol {
  font-size: 95%;
  margin: 5px 0;
}

li.continent {
  margin-bottom: 1.5em;
}

li.country {
  margin-left: 5%;
}

li.state {
  margin-left: 10%;
}

li.city {
  margin-left: 10%;
}

.locations a {
  font-weight: 300;
}

.index-locations {
  margin-top: 4em;
}

.three-of-four {
  border-right: 1px dashed #ddd;
  padding-right: 40px;
}

.nav-locations {
  display: none;
}

p.previous, p.next {
  display: block;
  float: left;
}

p.previous {
  margin-right: 15%;
}
/*Single Post Layout */

.single-post .post-title {
  display: none;
}

.single-post .post-categories {
  line-height: 2.8em;
}

.single-post h2 {
  margin-top: 0;
}

/*Page Layout*/

.not-current {
  color: #aaa;
}

.single-page .banner {
  top: 0px;
}

.single-page .banner h2 {
  line-height: 2.2em;
  margin: 0;
  padding: 0;
}

/*Flight Path Layout*/

.date {
  margin-left: 5%;
  margin-bottom: 1em;
}

/*Footer*/

footer {
  background: rgba(0, 0, 0, .2);
  border-top: 1px solid #aaa;
  padding: 20px 0 40px 0;
}

/*Media Queries*/

@media screen and (max-width: 1160px) {

  .main-page {
    top: -30px;
  }

  .single-page .main-page {
    top: -10px;
  }

}

@media screen and (max-width: 1100px) {

  .main-page {
    top: -60px;
  }

  .pagination {
    width: 50%;
  }

}

@media screen and (max-width: 1050px) {

  .main-page {
    top: -80px;
  }

  .single-page .main-page {
    top: -10px;
  }

}

@media screen and (max-width: 805px) {


  h1.logo {
    font-size: 2.2rem;
  }

}

@media screen and (max-width: 790px) {

  .text-input {
    width: 63%;
  }

  .pagination {
    width: 60%;
  }

  .nav-grid {
    padding-top: 4.6em;
    width: 29%;
  }

  .nav-grid.end {
    width: 32%;
  }

  h1.logo {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 690px) {
  html {
    font: 100%/1.5 'Open Sans', Helvetica, Arial, sans-serif;
  }

  .nav-grid {
    background: white;
    border-top: 1px dashed #ddd;
    border-left: 1px dashed #ddd;
    border-right: 1px dashed #ddd;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .nav-grid.end {
    width: 100%;
  }

  .even {
    background: #eee;
  }

  .nav-grid:hover {
    background: rgba(0, 0, 0, .2);
  }

  .nav-grid a:hover {
    color: white;
  }

  .main-nav {
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
  }

  .nav-locations {
    display: block;
  }

  .index-locations {
    display: none;
  }

  header .three-of-five {
    width: 100%;
  }

  .carousel {
    display: none;
  }

  .main-page {
    top: -10px;
  }

  .one-of-four {
    margin-top: 30px;
  }

  .three-of-four {
    border-right: none;
    padding-right: 0;
  }

  .pagination {
    margin-bottom: 20px;
  }

  .locations a {
    font-weight: 300;
  }

  small {
    font-size: 70%;
  }

  .locations a {
    font-weight: 300;
  }

  .three-of-four {
    border-bottom: 1px dashed #ddd;
  }
}

@media screen and (max-width: 550px) {
  .pagination {
    width: 70%;
  }
}

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

