<section class="carousel">
  <div class="container-img">
    <div class="grid-img">
      <ul class="rslides">
        {% for post in site.posts limit:5 %}
          <li>
            <img class="unit-img span-grid" src="{{post.featured_img}}"
             alt="{{post.featured_alt}}">
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <aside class="banner">
    <div class="container">
      <div class="grid">
          <div class="post-title unit span-grid">
            <h2>Wiki Wiki to Wisconsin</h2>
          </div>
      </div>
    </div>
  </aside>
</section>
