<aside class="banner">
  <div class="container">
    <div class="grid">
      {% if page.single_post %}
        <h3 class="post-title unit span-grid">Wiki Wiki to Wisconsin</h3>
        <h5 class="post-categories unit span-grid">Location:
          <!--{{ page.categories | join: ', ' }}-->

            <!--<a href="#">Foo</a>,  <a href="#">Hawaii</a>, <a href="#">USA</a></h5>-->
      {% else %}
        <div class="post-title unit span-grid">
          <h2>Wiki Wiki to Wisconsin</h2>
        </div>
      {% endif %}
    </div>
  </div>
</aside>
