<header class="container group">
  <nav class="grid">
    <div class="unit three-of-five">
      <h1 class="logo"><a href="index.html">Schwartzography</a></h1>
      <h5 class="tag-line">Digital nomads since 2011</h5>
    </div>

    <div class="unit two-of-five main-nav">
      <div class="unit nav-grid home-nav"><a href="index.html">Home</a></div>
      <div class="unit nav-grid home-nav even"><a href="about/">About Us</a></div>
      <div class="unit nav-grid home-nav nav-locations"><a href="locations.html">Locations</a></div>
      <div class="unit nav-grid home-nav end even"><a href="flight-path/">Flight Path</a></div>
    </div>
  </nav>
</header>
