<section class="carousel">
  <div class="container-img">
    <div class="grid-img">
      <img class="unit-img span-grid" src="{{page.featured_img}}"
        alt="{{page.featured_alt}}">
    </div>
  </div>
  <aside class="banner">
    <div class="container">
      <div class="grid">
        <h3 class="post-title unit span-grid">Wiki Wiki to Wisconsin</h3>
        <h5 class="post-categories unit span-grid">Location:
          {% for category in page.categories %}
            {{ category }}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
      </div>
    </div>
  </aside>
</section>
