<div class="thumbnail">
<div class="container-img interior-img">
  <div class="grid-img">
    <a href="{{ post.url }}">
      <img class="unit-img span-grid" src="{{ post.featured_img }}"
        alt="{{ post.featured_alt }}">
    </a>
  </div>
</div>

<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <p class="time">By: {{ post.author }} |
  <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></p>

  <p>{{ post.content | strip_html | truncatewords:60 }}</p>

  <a class="blog-link" href="{{ post.url }}">Read More »</a>
</div>
