<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
<body class="{{ page.body_css }} group">

  {% include _header.html %}
  {% include _carousel.html %}

  <section class="main-page container">
    <div class="grid">
      <div class="three-of-four unit">
        {{ content }}
        <!-- <ol class="pagination group"> -->
        <!--   <li><a href="#">&#171;</a></li> -->
        <!--   <li><a href="#">1</a></li> -->
        <!--   <li><a href="#">2</a></li> -->
        <!--   <li><a href="#">3</a></li> -->
        <!--   <li><a href="#">4</a></li> -->
        <!--   <li><a href="#">5</a></li> -->
        <!--   <li><a href="#">&#187;</a></li> -->
        <!-- </ol> -->
      </div>
      <div class="one-of-four unit">
        {% include _sidebar.html %}
      </div>
    </div>
  </section>
  <footer class="group">
    <p class="container"><small>&copy; Copyright 2011-2013 Smith and Erik Schwartz</small></p>
  </footer>
</body>
</html>
